body{
  background-image: url('https://i.im.ge/2024/05/16/KQViLX.0cff5ec98b17a6cbd0b80a8fbfb74f48.jpeg');
  background-position: center;
  height: 500px;
  width: 500px;
}
h1{
  font-family: Georgia;
  font-style: italic;
}
p{
  font-style: italic;
  border: solid 5px purple;
}
button{
  height: 100px;
  width: 200px;
  background: transparent;
  border: solid 5px;
  border-radius: 20px;
}
img{
  border: solid 5px black;
  border-radius: 100px;
}
a{
  text-decoration: none;
  color: #000;
}
